.cannotselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

td.selected {
    background: #0094ff;
    color: #fff
}

td.hide {
    display: none
}